{% extends "layout.html" %}

{% block content %}
<div class="p-4">
  <div class="d-flex justify-content-between p-4">
    <h1>Employee Page</h1>
  </div>

  <div class="p-4 d-flex flex-wrap">
    {% for link in links %}
      <div class="card m-3 p-3 d-flex {% if link.id == request.user.id %}bg-success{% endif %}" style="width: 18rem">
        {% if link.username %}
          <p>{{ link.username }}</p>
          
          {% if link.is_superuser %}
            <p>Admin</p>
          {% else %}
            <p>Member</p>
          {% endif %}

          {% if request.user.is_superuser %}  
            <a href="{% url 'link_delete' link.id %}" class="btn btn-danger">Delete</a> 
          {% endif %}   

        {% else %}
          <p>User</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
