{% extends "layout.html" %}
{% block content %}
<div class="p-4 ">
    <div class="d-flex justify-content-between  p-4">
            <h1>employee page </h1>

 
    </div>
      <div class="p-4 bgc-grey">
   
       

     {% for link in links %}
        <div class="card" style="width: 18rem">
   
            {% if link.username %}
            <p>{{link.username}}</p>
            {% else %}
            
            <p>user</p>
            {% endif %}


  
 
        </div>
    {% endfor %}
</div>
</div>

{% endblock %}